@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MusicPro</h1>
    <p>Bienvenido a MusicPro donde podras encontrar todo tipo de instrumentos</p>
    <p>
        </a>
    </p>

    <hr />

    <div>
        <h3>Bienvenido <b>@User.Identity.Name</b></h3>
    </div>
</div>
