@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Esta Política de privacidad (la "Política") se aplica a toda la información recopilada por MusicPro y sus afiliadas y subsidiarias ("MusicPro"). El propósito de esta Política es brindarle información sobre la recopilación, el uso, el mantenimiento y la divulgación de su información recopilada por MusicPro por parte de MusicPro.</p>
